modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_gemini:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["chromium"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NopeCHA Standard Demo"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow]]
name = "NopeCHA Standard Demo"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js --sitekey ab803303-ac41-41aa-9be1-7b4e01b91e2c --url https://nopecha.com/demo/hcaptcha --mode normal --screenshot --debug"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js --api"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33315
externalPort = 80

[[ports]]
localPort = 46495
externalPort = 3000
